transformers==4.28.1
pytorch-lightning==2.0.5
scikit-learn
higher
wandb
datasets==2.12.0
bitsandbytes==0.38.1
wget
rouge
tqdm
pandas
promptsource
deepspeed
sentencepiece
torch_kmeans
sentence-transformers
fsspec[adl]
openai
nomic==1.1.6
evaluate
click
rich
ray
shortuuid
peft
