datasets==2.2.1
transformers==4.32.0
pytorch-lightning==2.0.5
wandb
rouge
wget
tqdm
pandas
scikit-learn
higher
promptsource
deepspeed
sentencepiece
torch_kmeans
sentence-transformers
fsspec[adl]
click
rich
matplotlib
accelerate
peft