pytorch-lightning==2.4.0
transformers==4.44.2
# huggingface_hub==0.24.7
huggingface_hub==0.26.2
datasets==3.0.0
bitsandbytes==0.43.3
accelerate==0.34.2
#vllm==0.2.4
wandb==0.18.0
azure-storage-blob==12.22.0
azure-identity==1.17.1
pyparsing==3.1.4
peft==0.12.0
openai==1.45.1
pytest-mock==3.14.0
sentence-transformers==3.1.0
prettytable==3.11.0
matplotlib==3.7.5
seaborn==0.13.2
nltk==3.9.1
einops
tqdm
pandas
rouge==1.0.1
mistral_inference==1.5.0
pytest==8.3.3
triton==3.1.0
torchvision
guidance=0.1.16
